.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 74px);
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px 0;
}

.profile__container {
  display: grid;
  grid-template-rows: 1fr;
  height: 482px;
  box-sizing: border-box;
  width: 100%;
  max-width: 410px;
  justify-items: center;
}

.profile__main {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
}

.profile__greeting {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__form {
  display: grid;
  grid-template-rows: repeat(4, min-content) 1fr;
  width: 100%;
  box-sizing: border-box;
  padding-top: 120px;
}

.profile__edit {
  display: flex;
  flex-direction: column;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  border-bottom: 1px #424242 solid;
}

.profile__label:last-of-type {
  border: none;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  color: #fff;
  border: none;
  background-color: transparent;
  min-width: 40%;
  height: 25px;
}

.profile__error {
  color: #ff3055;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: right;
}

.profile__edit-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.profile__message {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #3456F3;
  align-self: end;
}

.profile__btn {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: end;
  padding: 8px 0;
}

.profile__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__btn_disabled {
  color: #C2C2C2;
}

.profile__btn_disabled:hover {
  opacity: 1;
}

.profile__btn_type_secondary {
  color: #EE3465;
}

@media screen and (max-width: 400px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__container {
    height: 100%;
  }

  .profile__form {
    padding-top: 80px;
  }

  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
