.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 70px 125px;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #8B8B8B;
  max-width: 600px;
  margin: 0;
}

.portfolio__container {
  padding: 50px 0 0;
  margin: 0;
}

.portfolio__link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.portfolio__link-container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__link-container:first-of-type {
  padding-top: 0;
}

.portfolio__link {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
  text-decoration: none;
  width: 100%;
  background-image: url("../../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position:right;
}

.portfolio__separator {
  height: 1px;
  width: 100%;
  margin-top: 19px;
  background-color: #424242;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__container {
    padding-top: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    background-size: 4%;
  }

}
