.navigation {
  display: flex;
  align-items: center;
}

.navigation__container {
  padding-right: 50px;
}

.navigation__link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  padding-right: 20px;
  margin: 0;
  opacity: 1;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link:last-of-type {
  padding-right: 0;
}

.navigation__account-container {
  display: flex;
  align-items: center;
}

.navigation__account-container:hover {
  opacity: 0.7;
}

.navigation__link_type_account {
  margin-right: 17px;
}

.navigation__logo-account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 30px;
  border-radius: 4px;
  background-color: #313131;
}

.navigation__logo-account-image {
  width: 11.5px;
  height: 14px;
}
