.about-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 110px 70px;
  min-height: 200px;
}

.about-project__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  max-width: 600px;
  margin: 0;
}

.about-project__separator {
  height: 1px;
  width: 100%;
  margin-top: 23px;
  background-color: #DADADA;
}

.about-project__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px 30px;
  padding-top: 70px;
  width: 100%;
}

.about-project__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
}

.about-project__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0;
}

.about-project__text_type_space {
  padding-top: 26px;
}

.about-project__bar-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 36px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 110px;
  width: 100%;
}

.about-project__text_type_brand-bgcolor {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #3DDC84;
}

.about-project__text_type_secondary-bgcolor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #303030;
}

.about-project__text_type_secondary {
  color: #8B8B8B;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__content {
    gap: 22px 30px;
  }

  .about-project__bar-container {
    padding-top: 93px;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 60px;
  }

  .about-project__separator {
    margin-top: 28px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__text_type_space {
    padding-top: 16px;
  }

  .about-project__bar-container {
    padding-top: 60px;
  }

  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
