.aboutme {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 110px 70px 100px;
  overflow: hidden;
}

.aboutme__heading {
  color: #fff;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
  margin: 0;
}

.aboutme__heading_type_title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.aboutme__heading_type_subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.aboutme__heading_type_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 18px;
}

.aboutme__heading_type_link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding-top: 99px;
  text-decoration: none;
}

.aboutme__heading_type_link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.aboutme__separator {
  height: 1px;
  width: 100%;
  background-color: #DADADA;
  margin-top: 23px;
}

.aboutme__content {
  display: grid;
  grid-template-columns: 1fr 270px;
  gap: 50px;
  padding: 66px 0 0 0;
}

.aboutme__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.aboutme__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-top: 26px;
  margin: 0;
}

.aboutme__img {
  height: 327px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .aboutme {
    padding: 90px 50px;
  }

  .aboutme__content {
    grid-template-columns: 1fr 255px;
  }

  .aboutme__img {
    height: 307px;
  }

  .aboutme__heading_type_subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .aboutme__heading_type_text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
  }

  .aboutme__heading_type_link {
    padding-top: 87px;
  }

  .aboutme__paragraph {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
  }

}

@media screen and (max-width: 600px) {
  .aboutme {
    padding: 70px 14px;
  }

  .aboutme__img {
    width: 292px;
    height: 352px;
  }

  .aboutme__heading_type_title {
    font-size: 18px;
    line-height: 22px;
  }

  .aboutme__separator {
    margin-top: 28px;
  }

  .aboutme__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 60px;
    gap: 0;
  }

  .aboutme__heading_type_subtitle {
    padding-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .aboutme__heading_type_text {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__heading_type_link {
    padding-top: 40px;
  }

}
